*
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4
{
    background-color: rgb(236, 236, 236);
    padding: 20px 0px;
}

h1
{
    text-align: center;
    font-size: 64px;
}

h2
{
    font-size: 48px;
}

h3
{
    font-size: 32px;
}

.main-header
{
    color: rgb(107, 107, 107);
}

.description
{
    color: rgb(250, 100, 100);
    text-align: center;
}

.ingredients
{
    color: rgb(100, 165, 250);
}

.directions
{
    color: rgb(225, 100, 250);
}

.extra
{
    font-size: 20px;
    color: rgb(63, 63, 63);
}

.recipe-link
{
    background-color: rgba(165, 218, 255, 0.429);
    padding: 16px;
    border: 2px, solid, rgb(166, 224, 255);
    
}